<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/GVU.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sora:wght@100..800&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thông Tin Sinh Viên</title>
  </head>
  <body>
    <div class="container">
      <div class="left">
        <h1>Quản lý chung</h1>
        <div class="gachngang"></div>
        <div class="xinchao">
          <i class="fa-solid fa-user-secret"></i>
          <span>Mai Anh Luan</span>
        </div>
        <div class="gachngang2"></div>
        <a href="/GVU/thongtin.html" class="info">
          <i class="fa-solid fa-circle-info"></i>
          <span>Thông tin cá nhân</span>
        </a>
        <a href="/GVU/themsv.html" class="detail">
          <i class="fa-solid fa-user-plus"></i>
          <span>Thêm sinh viên làm đồ án tốt nghiệp</span>
        </a>
        <a href="/GVU/danhsachsinhvien.html" class="progess">
          <i class="fa-solid fa-people-roof"></i>
          <span>Danh sách sinh viên làm đồ án tốt nghiệp</span>
        </a>
        <a href="/GVU/nhapdiem.html" class="progess">
          <i class="fa-solid fa-award"></i>
          <span>Nhập điểm</span>
        </a>
        <a href="/GVU/taikhoangiangvien.html" class="progess">
          <i class="fa-solid fa-circle-info"></i>
          <span>Tài khoản giảng viên</span>
        </a>
        <a href="/GVU/taikhoansinhvien.html" class="progess">
          <i class="fa-solid fa-circle-info"></i>
          <span>Tài khoản sinh viên</span>
        </a>
      </div>
      <div class="right">
        <div class="hienthi">
          <div class="hienthi-thongtin">
            <i class="fa-solid fa-user-plus"></i>
            <span>Thêm sinh viên làm đồ án tốt nghiệp</span>
          </div>
          <button class="btn-out">
            <i class="fa-solid fa-right-from-bracket"></i>
            <div class="out">Đăng xuất</div>
          </button>
        </div>
        <div class="thongtincanhan">
          <h1 class="thongtincanhan-tieude">
            Bạn hãy thêm file excel thông tin đồ án và thông tin sinh viên theo
            định dạng dưới đây:
          </h1>
          <img src="/picture/excel.png" alt="" class="mau" />
          <form
            action="/upload"
            method="post"
            enctype="multipart/form-data"
            class="form-excel"
          >
            <label for="excelFile" class="exlb">Chọn file Excel</label>
            <input
              type="file"
              id="excelFile"
              name="excelFile"
              accept=".xlsx, .xls"
            />
            <button type="submit" class="tailen">Tải lên</button>
          </form>
        </div>
      </div>
    </div>
  </body>
  <script src="/js/SV-thongtin.js"></script>
</html>
